* {
    box-sizing: border-box;
}

html, body {
    height: 100%;
    overflow: hidden;
}

body {
    text-shadow: 0 0 1px #000, 0 0 2px #000;
    font-family: 'Hachi Maru Pop', cursive;
    font-size: 80px;
    font-weight: 400;
    line-height: 1.3em;
    color: #FAFAFA;
}

#log>div {
    animation: fadeInRight 0.75s ease forwards, fadeOutLeft 1s ease 10000s forwards;
    -webkit-animation: fadeInRight 0.75s ease forwards, fadeOutLeft 1s ease 10000s forwards;
    margin-bottom: 5px;
}

.colon {
    display: none;
}

#log {
    display: table;
    position: absolute;
    bottom: 0;
    left: 0;
    padding: 0 10px 10px;
    table-layout: fixed;
    width: 100%;
}

#log>div:nth-last-child(-n + 2)  {
  opacity: 1 !important;
}

#log>div {
    display: table-row;
    opacity: 0.5 !important;
}

#log>div.deleted {
    visibility: hidden;
}

#log .emote {
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    padding: 0.4em 0.2em;
    position: relative;
}

#log .emote img {
    display: inline-block;
    height: 1em;
    opacity: 0;
}

#log .message,#log .meta {
    vertical-align: top;
    display: table-cell;
    padding-bottom: 0.1em;
}

#log .meta {
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

#log .message {
    word-wrap: break-word;
}

.badge {
    display: inline-block;
    margin-right: 0.2em;
    position: relative;
    height: 1em;
    vertical-align: middle;
    top: -0.1em;
    filter: opacity(80%);
}

.name {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.upper {
  display: flex;
  background-color: rgba(255,194,194,0.7);
  border-radius: 10px 10px 0 0;
  padding: 5px 30px 5px 30px;
}

.bottom {
  display: flex;
  background-color: rgba(255,235,235,0.7);
  border-radius: 0 0 10px 10px;
  padding: 5px 30px 5px 30px;
  margin-bottom: 5px;
}

.message {
  text-overflow: ellipsis;
  overflow: hidden;
}
